html, body {

	height: 100%;
	background-color: #000;
	margin: 0;
	padding: 0;

}

* {

	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {

	background: #EFEFEF;

}

.wrapper .sidebar {

	background: white;
	position: fixed;
	top:  0;
	left: 0;
	width: 125px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;

}

.img {

	margin: 0px auto;
	text-align: center;

}

#dashboard {

	margin-top: 75px;
}

.mainTitle {

	padding-top: 35px;
	margin-left: 180px;
	font-family: 'Lato', sans-serif;
	color: #F86041;

}

.dropdown {

	margin-top: 35px;
	margin-left: 180px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #014189;

}